body {
    background-image: url("images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Linux Libertine";
}

body > header.hero {
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

body > header.hero img.title {
    width: 80%;
}

body > main.container {
    background-color: white;
    box-shadow: 0 0 10px 2px;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    text-align: justify;
}

body > main .content {
    padding-left: 2em;
    padding-right: 2em;
}

body > main section.fund .progress {
    height: 2em;
    box-shadow: 0 0 5px 1px;
    width: 100%;
}

body > main section.fund .progress-bar {
    background-color: #0c4c00;
}

body > main section.prices {
    margin-top: 2em;
    margin-bottom: 2em;
}

body > main section.prices .box {
    box-shadow: 0 0 5px 1px;
    margin: auto;
    padding: 1em;
    max-width: 20em;
    height: 100%;
}

body > main section.prices .box h2 {
    text-align: center;
}

body > main section.prices .box .price {
    text-align: center;
    font-size: 3em;
}

body > main section.account {
    text-align: center;
}

body > footer {
    padding-top: 2em;
    padding-bottom: 2em;
    color: white;
}

body > footer a, body > footer a:hover, body > footer a:focus {
    color: white;
}
